<ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="tarifs">
                <ion-icon name="archive-outline"></ion-icon>
                <ion-label>Livraisons</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="scripts">
                <ion-icon name="fast-food-outline"></ion-icon>
                <ion-label>Commandes</ion-label>
            </ion-tab-button>
            <!-- <ion-tab-button tab="reglages">
              <ion-icon name="hammer-outline"></ion-icon>
              <ion-label>Règlages</ion-label>
          </ion-tab-button> -->
        </ion-tab-bar>
    </ion-tabs>
</ion-content>