<ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="tarifs">
                <ion-icon name="pricetags-outline"></ion-icon>
                <ion-label>Tarifs</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="scripts">
                <ion-icon name="code-slash-outline"></ion-icon>
                <ion-label>Scripts</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="reglages">
                <ion-icon name="hammer-outline"></ion-icon>
                <ion-label>Règlages</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>